@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: #252525 url(/img/body_bg.png) bottom right no-repeat;
    margin: 0;
}

.wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    text-align: center;
}

.headshot {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    transition: border-radius .15s ease;
}

.headshot:hover {
    border-radius: 20%;
}

h1 {
    font-size: 2.5em;
}

.tagline {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.tagline span {
    display: block;
}

h1, .tagline {
    color: #f9f9f9;
    font-family: "Roboto";
}

.social-links a {
    font-size: 42px;
    color: #dedede;
    padding: 10px;
}

.social-links a:hover {
    color: #00CBFC;
}

@media screen and (min-width: 992px) {
    .tagline span:not(:first-child):before {
        font-size: inherit;
        content: "•";
        display: inline-block;
        padding: 0 10px;
    }
}

@media screen and (max-width: 992px) {
    html, body {
        min-width: 100vw;
        min-height: 100vh;
    }

    .wrapper {
        align-items: flex-start;
    }

    .centered {
        max-width: 80%;
    }

    .headshot {
        max-width: 60%;
        max-height: 60%;
        width: fit-content;
        padding: 6em 0;
    }

    h1 {
        font-size: 5em;
        margin-top: 0;
        margin-bottom: 1.5em;
    }

    .tagline {
        font-size: 3em;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .tagline span {
        min-width: 45%;
        padding-bottom: 1em;
    }

    .social-links a {
        font-size: 10em;
    }
}